body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map-container {
  display: flex;
  height: 100%;
}

#map {
  flex: 1;
  height: 100%;
}

#side-panel {
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

#marker-info {
  margin-top: 20px;
}


.barChartContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 200px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.bar {
  width: 10px; 
  margin: 0px;
  background-color: #4caf50;
  text-align: center;
}

.timeLabel {
  width: 100%;
  display: flex;
  transform: rotate(90deg);
  color: black;
  align-items: center;
  height: 10px;
  font-size: 0.5em;
}